### **0. Library**

In [28]:
# visualization
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumGothic.ttf', # ttf íŒŒì¼ì´ ì €ì¥ë˜ì–´ ìˆëŠ” ê²½ë¡œ
    name='NanumBarunGothic')                        # ì´ í°íŠ¸ì˜ ì›í•˜ëŠ” ì´ë¦„ ì„¤ì •
fm.fontManager.ttflist.insert(0, fe)              # Matplotlibì— í°íŠ¸ ì¶”ê°€
plt.rcParams.update({'font.size': 10, 'font.family': 'NanumBarunGothic'}) # í°íŠ¸ ì„¤ì •
plt.rc('font', family='NanumBarunGothic')
import seaborn as sns

# utils
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
import warnings;warnings.filterwarnings('ignore')

# Model
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

import eli5
from eli5.sklearn import PermutationImportance

### **1. Data Load**

In [50]:
# ë°ì´í„° ë¡œë“œ

train_path = '/root/dev/Ml_Team2_fork/1.Data/train.csv'
test_path  = '/root/dev/Ml_Team2_fork/1.Data/test.csv'
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)

In [51]:
# ë¬¸ìì—´ ë³€ê²½ì„ ìœ„í•œ re import
import re

key_list = {}

for text in list(train.columns):
    # 'ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©'ìœ¼ë¡œ ì‹œì‘í•˜ë©´ ê´„í˜¸ ì œê±° ì•ˆí•¨
    if text.startswith('k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€'): # ê·¸ëƒ¥ ê´„í˜¸ë¥¼ ì œê±°í•˜ë©´ ì¤‘ë³µëœ ì´ë¦„ì´ ë°œìƒí•˜ê¸° ë•Œë¬¸ì— ì²˜ë¦¬í•œ ì˜ˆì™¸ ì²˜ë¦¬ 
        cleaned = re.sub(r'^k-', '', text).strip()

    else :
        cleaned = re.sub(r'\(.*?\)','',text)
        cleaned = re.sub(r'^k-','',cleaned)
        cleaned = cleaned.strip()
    key_list[text] = cleaned
print(key_list)

train = train.rename(columns = key_list)
test = test.rename(columns = key_list)

{'ì‹œêµ°êµ¬': 'ì‹œêµ°êµ¬', 'ë²ˆì§€': 'ë²ˆì§€', 'ë³¸ë²ˆ': 'ë³¸ë²ˆ', 'ë¶€ë²ˆ': 'ë¶€ë²ˆ', 'ì•„íŒŒíŠ¸ëª…': 'ì•„íŒŒíŠ¸ëª…', 'ì „ìš©ë©´ì (ã¡)': 'ì „ìš©ë©´ì ', 'ê³„ì•½ë…„ì›”': 'ê³„ì•½ë…„ì›”', 'ê³„ì•½ì¼': 'ê³„ì•½ì¼', 'ì¸µ': 'ì¸µ', 'ê±´ì¶•ë…„ë„': 'ê±´ì¶•ë…„ë„', 'ë„ë¡œëª…': 'ë„ë¡œëª…', 'í•´ì œì‚¬ìœ ë°œìƒì¼': 'í•´ì œì‚¬ìœ ë°œìƒì¼', 'ë“±ê¸°ì‹ ì²­ì¼ì': 'ë“±ê¸°ì‹ ì²­ì¼ì', 'ê±°ë˜ìœ í˜•': 'ê±°ë˜ìœ í˜•', 'ì¤‘ê°œì‚¬ì†Œì¬ì§€': 'ì¤‘ê°œì‚¬ì†Œì¬ì§€', 'k-ë‹¨ì§€ë¶„ë¥˜(ì•„íŒŒíŠ¸,ì£¼ìƒë³µí•©ë“±ë“±)': 'ë‹¨ì§€ë¶„ë¥˜', 'k-ì „í™”ë²ˆí˜¸': 'ì „í™”ë²ˆí˜¸', 'k-íŒ©ìŠ¤ë²ˆí˜¸': 'íŒ©ìŠ¤ë²ˆí˜¸', 'ë‹¨ì§€ì†Œê°œê¸°ì¡´clob': 'ë‹¨ì§€ì†Œê°œê¸°ì¡´clob', 'k-ì„¸ëŒ€íƒ€ì…(ë¶„ì–‘í˜•íƒœ)': 'ì„¸ëŒ€íƒ€ì…', 'k-ê´€ë¦¬ë°©ì‹': 'ê´€ë¦¬ë°©ì‹', 'k-ë³µë„ìœ í˜•': 'ë³µë„ìœ í˜•', 'k-ë‚œë°©ë°©ì‹': 'ë‚œë°©ë°©ì‹', 'k-ì „ì²´ë™ìˆ˜': 'ì „ì²´ë™ìˆ˜', 'k-ì „ì²´ì„¸ëŒ€ìˆ˜': 'ì „ì²´ì„¸ëŒ€ìˆ˜', 'k-ê±´ì„¤ì‚¬(ì‹œê³µì‚¬)': 'ê±´ì„¤ì‚¬', 'k-ì‹œí–‰ì‚¬': 'ì‹œí–‰ì‚¬', 'k-ì‚¬ìš©ê²€ì‚¬ì¼-ì‚¬ìš©ìŠ¹ì¸ì¼': 'ì‚¬ìš©ê²€ì‚¬ì¼-ì‚¬ìš©ìŠ¹ì¸ì¼', 'k-ì—°ë©´ì ': 'ì—°ë©´ì ', 'k-ì£¼ê±°ì „ìš©ë©´ì ': 'ì£¼ê±°ì „ìš©ë©´ì ', 'k-ê´€ë¦¬ë¹„ë¶€ê³¼ë©´ì ': 'ê´€ë¦¬ë¹„ë¶€ê³¼ë©´ì ', 'k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©(60ã¡ì´í•˜)': 'ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©(60ã¡ì´í•˜)', 'k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©(60ã¡~85ã¡ì´í•˜)': 'ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©(60ã¡~85ã¡ì´í•˜)', 'k-85ã¡~135ã¡ì´í•˜': '85ã¡~135ã¡ì´í•˜', 'k-135ã¡ì´ˆê³¼': '135ã¡ì´ˆê³¼', 'k-í™ˆí˜ì´ì§€': 'í™ˆí˜ì´ì§€', 'k-ë“±ë¡ì¼ì': 'ë“±ë¡ì¼ì', 'k-ìˆ˜ì •ì¼ì': 'ìˆ˜ì •ì¼ì', 'ê³ ìš©ë³´í—˜ê´€ë¦¬ë²ˆí˜¸': 'ê³ ìš©ë³´í—˜ê´€ë¦¬ë²ˆí˜¸', 'ê²½ë¹„ë¹„ê´€ë¦¬í˜•íƒœ': 'ê²½ë¹„ë¹„ê´€ë¦¬í˜•íƒœ', 'ì„¸ëŒ€ì „ê¸°ê³„ì•½ë°©ë²•': 'ì„¸ëŒ€ì „ê¸°ê³„ì•½ë°©ë²•', 'ì²­ì†Œë¹„ê´€ë¦¬í˜•íƒœ': 'ì²­ì†Œë¹„ê´€ë¦¬í˜•íƒœ', 'ê±´ì¶•ë©´ì ': 'ê±´ì¶•ë©´ì ', 'ì£¼ì°¨ëŒ€ìˆ˜': 'ì£¼ì°¨ëŒ€ìˆ˜', 'ê¸°íƒ€/ì˜ë¬´/ì„ëŒ€/ì„ì˜=1/2/3/4': 'ê¸°íƒ€/ì˜ë¬´/ì„ëŒ€/ì„ì˜=1/2/3/4', 'ë‹¨ì§€ìŠ¹ì¸ì¼': 'ë‹¨ì§€ìŠ¹ì¸ì¼', 'ì‚¬ìš©í—ˆê°€ì—¬ë¶€': 'ì‚¬ìš©í—ˆê°€ì—¬ë¶€', 'ê´€ë¦¬ë¹„ ì—…ë¡œë“œ': 'ê´€ë¦¬ë¹„ ì—…ë¡œë“œ', 'ì¢Œí‘œX': 'ì¢Œí‘œX', 'ì¢Œí‘œY': 'ì¢Œí‘œY', 'ë‹¨ì§€ì‹ ì²­ì¼': 'ë‹¨ì§€ì‹ ì²­ì¼', 'target': 'target'}

In [52]:
# Data pre-processing

## is_test : train/test êµ¬ë¶„ì„ ìœ„í•œ ë³€ìˆ˜
## concatì„ í†µí•œ train, test í•©ì³ì£¼ê¸°

train['is_test'] = 0
test['is_test'] = 1
concat = pd.concat([train, test])

print(concat.shape)
print(concat['is_test'].value_counts())

(1128094, 53)
0    1118822
1       9272
Name: is_test, dtype: int64

In [53]:
# ê²°ì¸¡ì¹˜ëŠ” ì•„ë‹Œë° ì˜ë¯¸ ì—†ëŠ” í˜•ì‹ì  ê°’ ì°¾ëŠ” í•¨ìˆ˜

def detect_fake_nulls(df, suspect_values=['-', ' ', '', '.', 'ì—†ìŒ', 'nan']):
    result = {}
    for col in df.columns:
        if df[col].dtype == 'object':
            val_counts = df[col].value_counts(dropna=False)
            found = val_counts[val_counts.index.isin(suspect_values)]
            if not found.empty:
                result[col] = found
    return result

fake_nulls = detect_fake_nulls(concat)
for col, vals in fake_nulls.items():
    print(f"ğŸ” {col} ì»¬ëŸ¼ì—ì„œ ì˜ë¯¸ ì—†ëŠ” ê°’ ë°œê²¬:")
    print(vals)
    print()

# ì•„ë¬´ ì˜ë¯¸ ì—†ëŠ” ê°’ ê²°ì¸¡ì²˜ë¦¬ë¥¼ ìœ„í•´ nanìœ¼ë¡œ ë³€ê²½
concat['ë„ë¡œëª…'] = concat['ë„ë¡œëª…'].replace(' ', np.nan)
concat['ë“±ê¸°ì‹ ì²­ì¼ì'] = concat['ë“±ê¸°ì‹ ì²­ì¼ì'].replace(' ', np.nan)
concat['ê±°ë˜ìœ í˜•'] = concat['ê±°ë˜ìœ í˜•'].replace('-', np.nan)
concat['ì¤‘ê°œì‚¬ì†Œì¬ì§€'] = concat['ì¤‘ê°œì‚¬ì†Œì¬ì§€'].replace('-', np.nan)

ğŸ” ë„ë¡œëª… ì»¬ëŸ¼ì—ì„œ ì˜ë¯¸ ì—†ëŠ” ê°’ ë°œê²¬:
     1211
Name: ë„ë¡œëª…, dtype: int64

ğŸ” ë“±ê¸°ì‹ ì²­ì¼ì ì»¬ëŸ¼ì—ì„œ ì˜ë¯¸ ì—†ëŠ” ê°’ ë°œê²¬:
     1111271
Name: ë“±ê¸°ì‹ ì²­ì¼ì, dtype: int64

ğŸ” ê±°ë˜ìœ í˜• ì»¬ëŸ¼ì—ì„œ ì˜ë¯¸ ì—†ëŠ” ê°’ ë°œê²¬:
-    1086451
Name: ê±°ë˜ìœ í˜•, dtype: int64

ğŸ” ì¤‘ê°œì‚¬ì†Œì¬ì§€ ì»¬ëŸ¼ì—ì„œ ì˜ë¯¸ ì—†ëŠ” ê°’ ë°œê²¬:
-    1090013
Name: ì¤‘ê°œì‚¬ì†Œì¬ì§€, dtype: int64

ğŸ” ì‹œí–‰ì‚¬ ì»¬ëŸ¼ì—ì„œ ì˜ë¯¸ ì—†ëŠ” ê°’ ë°œê²¬:
.    868
-    152
Name: ì‹œí–‰ì‚¬, dtype: int64

ğŸ” í™ˆí˜ì´ì§€ ì»¬ëŸ¼ì—ì„œ ì˜ë¯¸ ì—†ëŠ” ê°’ ë°œê²¬:
ì—†ìŒ    3628
.       72
Name: í™ˆí˜ì´ì§€, dtype: int64

In [54]:
# ê²°ì¸¡ë¥  30% ì´ìƒ ì‚­ì œ
concat.drop(axis = 1, columns = list(concat.columns[concat.isnull().sum()/concat.shape[0] >= 0.3]), inplace=True)

In [55]:
# categorical column name, numerical column name return function
def split_categorical_numerical(df:pd.DataFrame, verbose:bool = True):
    categorical_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()
    numerical_cols = df.select_dtypes(include=['number']).columns.tolist()
    if verbose:
        print("ğŸ“Œ ë²”ì£¼í˜• ë³€ìˆ˜:", categorical_cols)
        print("ğŸ“Œ ì—°ì†í˜• ë³€ìˆ˜:", numerical_cols)
    return categorical_cols, numerical_cols

# update and check variable
cat_cols, num_cols = split_categorical_numerical(concat)

ğŸ“Œ ë²”ì£¼í˜• ë³€ìˆ˜: ['ì‹œêµ°êµ¬', 'ë²ˆì§€', 'ì•„íŒŒíŠ¸ëª…', 'ë„ë¡œëª…']
ğŸ“Œ ì—°ì†í˜• ë³€ìˆ˜: ['ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ì „ìš©ë©´ì ', 'ê³„ì•½ë…„ì›”', 'ê³„ì•½ì¼', 'ì¸µ', 'ê±´ì¶•ë…„ë„', 'target', 'is_test']

In [56]:
concat.drop(axis = 1, columns=['ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ê³„ì•½ì¼', 'ë²ˆì§€', 'ì•„íŒŒíŠ¸ëª…', 'ë„ë¡œëª…'])

                ì‹œêµ°êµ¬    ì „ìš©ë©´ì     ê³„ì•½ë…„ì›”   ì¸µ  ê±´ì¶•ë…„ë„    target  is_test
0     ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™   79.97  201712   3  1987  124000.0        0
1     ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™   79.97  201712   4  1987  123500.0        0
2     ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™   54.98  201712   5  1987   91500.0        0
3     ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™   79.97  201801   4  1987  130000.0        0
4     ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™   79.97  201801   2  1987  117000.0        0
...             ...     ...     ...  ..   ...       ...      ...
9267  ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ì‹ ë‚´ë™   84.65  202307  13  2014       NaN        1
9268  ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ì‹ ë‚´ë™   84.62  202307  12  2014       NaN        1
9269  ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ì‹ ë‚´ë™  101.65  202308  12  2014       NaN        1
9270  ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ì‹ ë‚´ë™   84.94  202309  18  2014       NaN        1
9271  ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘ë‘êµ¬ ì‹ ë‚´ë™   84.65  202309  13  2014       NaN        1

[1128094 rows x 7 columns]

In [57]:
concat['contract_month'] = concat['ê³„ì•½ë…„ì›”'] % 100 # ê³„ì•½ì›”
concat['contract_date'] = concat['ê³„ì•½ë…„ì›”']//100 + concat['contract_month'] / 12 # ê³„ì•½ì‹œê°„

concat['covid'] = (concat['ê³„ì•½ë…„ì›”'] >= 202001).astype(int) # ì½”ë¡œë‚˜ ì‹œê¸° êµ¬ë¶„

# ë¹Œë”©ì˜ ë‚˜ì´
current = 2025
concat['apt_age'] = current - concat['ê±´ì¶•ë…„ë„']

# 
concat['êµ¬'] = list(map(lambda x : x.split(' ')[1],concat['ì‹œêµ°êµ¬']))
concat['ë™'] = list(map(lambda x : x.split(' ')[2],concat['ì‹œêµ°êµ¬']))

concat.drop(axis = 1, columns = ['ê±´ì¶•ë…„ë„', 'ê³„ì•½ë…„ì›”', 'ì‹œêµ°êµ¬', 'ê³„ì•½ì¼', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ë„ë¡œëª…', 'ë²ˆì§€', 'ì•„íŒŒíŠ¸ëª…'], inplace = True)

In [58]:
cat_cols, num_cols = split_categorical_numerical(concat)

ğŸ“Œ ë²”ì£¼í˜• ë³€ìˆ˜: ['êµ¬', 'ë™']
ğŸ“Œ ì—°ì†í˜• ë³€ìˆ˜: ['ì „ìš©ë©´ì ', 'ì¸µ', 'target', 'is_test', 'contract_month', 'contract_date', 'covid', 'apt_age']

In [59]:
# train set, test set split
df_train = concat.query('is_test == 0')
df_test = concat.query('is_test == 1')

# ì´ì œ is_test ì¹¼ëŸ¼ì€ dropí•´ì¤ë‹ˆë‹¤.
df_train.drop(['is_test'], axis = 1, inplace=True)
df_test.drop(['is_test'], axis = 1, inplace=True)
print(df_train.shape, df_test.shape)

(1118822, 9) (9272, 9)

In [60]:
# ì•„ë˜ì—ì„œ ë²”ì£¼í˜• ë³€ìˆ˜ë“¤ì„ ëŒ€ìƒìœ¼ë¡œ ë ˆì´ë¸”ì¸ì½”ë”©ì„ ì§„í–‰í•´ ì£¼ê² ìŠµë‹ˆë‹¤.

# ê° ë³€ìˆ˜ì— ëŒ€í•œ LabelEncoderë¥¼ ì €ì¥í•  ë”•ì…”ë„ˆë¦¬
label_encoders = {}

# Implement Label Encoding
for col in tqdm( cat_cols ):
    lbl = LabelEncoder()

    # Label-Encodingì„ fit
    lbl.fit( df_train[col].astype(str) )
    df_train[col] = lbl.transform(df_train[col].astype(str))
    label_encoders[col] = lbl           # ë‚˜ì¤‘ì— í›„ì²˜ë¦¬ë¥¼ ìœ„í•´ ë ˆì´ë¸”ì¸ì½”ë”ë¥¼ ì €ì¥í•´ì£¼ê² ìŠµë‹ˆë‹¤.

    # Test ë°ì´í„°ì—ë§Œ ì¡´ì¬í•˜ëŠ” ìƒˆë¡œ ì¶œí˜„í•œ ë°ì´í„°ë¥¼ ì‹ ê·œ í´ë˜ìŠ¤ë¡œ ì¶”ê°€í•´ì¤ë‹ˆë‹¤.
    for label in np.unique(df_test[col]):
      if label not in lbl.classes_: # unseen label ë°ì´í„°ì¸ ê²½ìš°
        lbl.classes_ = np.append(lbl.classes_, label) # ë¯¸ì²˜ë¦¬ ì‹œ ValueErrorë°œìƒí•˜ë‹ˆ ì£¼ì˜í•˜ì„¸ìš”!

    df_test[col] = lbl.transform(df_test[col].astype(str))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00,  4.71it/s]

In [ ]:
# Targetê³¼ ë…ë¦½ë³€ìˆ˜ë“¤ì„ ë¶„ë¦¬í•´ì¤ë‹ˆë‹¤.
y_train = np.log1p(df_train['target'])
X_train = df_train.drop(['target'], axis=1)
df_test.drop(axis = 1, columns=['target'], inplace = True)

          ì „ìš©ë©´ì    ì¸µ  contract_month  contract_date  covid  apt_age   êµ¬    ë™
0      79.9700   5               7    2023.583333      1       38   0    8
1     108.2017  10               8    2023.666667      1        4   0    8
2     161.0000  15               7    2023.583333      1       41   0    8
3     133.4600  14               8    2023.666667      1       41   0    8
4     104.4300   6               8    2023.666667      1       41   0    8
...        ...  ..             ...            ...    ...      ...  ..  ...
9267   84.6500  13               7    2023.583333      1       11  24  174
9268   84.6200  12               7    2023.583333      1       11  24  174
9269  101.6500  12               8    2023.666667      1       11  24  174
9270   84.9400  18               9    2023.750000      1       11  24  174
9271   84.6500  13               9    2023.750000      1       11  24  174

[9272 rows x 8 columns]